@font-face {
  font-family: 'Kranky';
  font-style: normal;
  font-weight: 400;
  src: local('Kranky Regular'), local('Kranky-Regular'), url(https://fonts.gstatic.com/s/kranky/v8/9MhcqozOOK22yTdfTb9Abg.ttf) format('truetype');
}
